.About{
    display: flex;
    gap: 30px;
    padding: 50px 50px;
    background-color: rgb(243, 238, 238);
    width: 100%;
    
}
.About-Pix{
    width: 50%;
    object-fit: cover;
    border-radius: 50%;
    order: 1;
}

.About-textDiv{
    width: 50%;
    order: 0;
}
.text-content{
    font-size: large;
    margin-top: 15px;
}

.transit{
    cursor: pointer;
    transition: transform 2s linear;
 }

 .transit:hover{
 transform:scale(0,2) ;

 
 }
 .btn-div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: none;
    
 }
 .About-btn{
    font-size: large;
    padding: 6px 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    
 }
 .About-btn:hover{
    background-color: #a05;
    
 }








 /* TABLET VIEW */
 @media screen and (max-width: 900px){

    .About{
        display: flex;
        padding: 50px;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        
    
    }
    
    .About-Pix{
        width: 100%;
        object-fit: cover;
        order: 0;
        border-radius: 50%;
        
    }
    
    .About-textDiv{
        width: fit-content;
        order: 1;
        
    }
    
 }

 


 /* MOBILE VIEW */

@media screen and (max-width: 600px) {

    .About{
        display: flex;
        padding: 45px;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        

    }

    .About-Pix{
        width: 100%;
        object-fit: cover;
        order: 0;
        border-radius: 50%;
       
        
    }

    .About-textDiv{
        width: 100%;
        order: 1;
        
    }
    .About-btn{
        padding: 5px 6px;
    }
}