.DOWN-BTN{
    text-decoration: none;
    float: right;
     border-radius: 20px;
     padding: 6px 10px;
     background-color: rgb(30, 28, 26);
     color: white;
     margin: 14px;
}




.pdf-container{
    border: none;
    height: fit-content;
    padding: 0 100px;
    width: 100%;
}

.frame-pdf{
    display: block;
    height: 70vh;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    background-image: none;
    background-color: none;
    border-width: none;
    outline-offset: none;
    border: none;
   
    
    
}


/* MOBILE VIEW */
@media screen and (max-width: 600px) {
    .pdf-container{
        padding: 0 40px;
        width: 100%;
    }
   
}