.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: sticky;
    top: 0;
    height: 20vh;
    border-bottom: 1px solid aliceblue;
    box-shadow: 1px 2px 2px rgb(236, 240, 243);
    z-index: 900;
    background-color: #fff;
}

.name {
    font-size: xx-large;
    cursor: pointer;
    list-style: none;
    text-decoration: none;

}
.name:hover{
 color: #A05;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-item {
    text-decoration: none;
    color: #A05;
    font-weight: bold;
}

.nav-item:hover {
    color: blue;
}

.mobile-icon {
    display: none;
    cursor: pointer;
}
.mobile-icon:hover{
 color: #A05;
}



/* TABLET VERSION */
@media screen and (max-width: 900px){ 
    .Header{
        padding: 0 50px;
        }
        
}







/* MOBILE VERSION */
@media screen and (max-width: 600px) {
    .Header {
        padding: 0 40px;
    }

    .name{
        padding: 0 15px;
    }

    .mobile-icon {
        display: block;
    }

    .nav-menu {
        /* border: 2px solid green; */
        flex-direction: column;
        position: absolute;
        right: 1000px;
        top: 120px;
        width: 100vw;
        height: 70vh;
        align-items: center;
        padding: 50px 20px;
        background-color: #A05;
        border-radius: 20px;
        z-index: 1000;
        transition: right 1s;
    }

    .nav-menu.show {
        right: 0;
        
    }

    .nav-item {
        color: #fff;
    }
}