.hero{
   width: 100%;
   background-color: rgb(15, 15, 15);
 
}
.Fist-hero{
    position: relative;
    width: 100%;
    object-fit: cover;
    
    
}
.text-div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 0 100px;
    
}
.welcome{
    font-size: 100px;
    color: rgb(253, 248, 248);
    margin-bottom: 20px;
}
.text-alone{
    text-align: center;
    color: rgb(235, 244, 241);
    font-size: xx-large;


}



/* TABLET VIEW */
@media screen and (max-width:900px) {

    .hero{
        width: 100%;
    }
    .Fist-hero{
        width: 100%;
    }
    .welcome{
        font-size: 30px;
       
    }
    .text-div{
        padding: 0 50px;
        margin-top: 200px;
    }
    .text-alone{
        text-align: center;
        font-size: 19px;
        
    }
    
} 









/* MOBILE VIEW */

@media screen and (max-width:600px) {
    .hero{
        width: 100%;
    }
    .Fist-hero{
        width: 100%;
    }
    .welcome{
        font-size: 30px;
     
       
    }
    .text-div{
        padding: 0 40px;
        margin-top: 200px;
    }
    .text-alone{
        text-align: center;
        font-size: 19px;
        
    }
  
}