.intro{
    display: flex;
    padding: 0 100px;
    gap: 25px;
    border-top: 1px solid black;
   
    
    
}
.div-image{
    width: 50%;
    order: 1;
    
    
}
.div-text{
    width: 50%; 
    order: 0;
    
    
}

.text-plane{
    font-size: larger;
    margin-top: 8px;
}
.intro-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    
}
.WatsBtn{
    background-color: rgb(0, 170, 82);
    color: white;
    font-size: 60px;
    display: block;
    border-radius: 50px;
    cursor: pointer;
    padding: 8px;
}

/* TABLET VIEW CONTROL */
@media screen and (max-width: 900px){
    .div-image{
        width: 100%;
    }
    .div-text{
        width: 100%; 
    }
    .intro{
        padding: 0 50px;
        flex-direction: column;
    }
    .intro-img{
        object-fit: cover;
        width: 100%;
        
    }
}





/* MOBIBLE VIEW CONTROL */
@media screen and (max-width: 600px) {
    .intro{
        padding: 0 40px;
        flex-direction: column;
    }
    .intro-img{
        object-fit: cover;
        width: 100%;
        
    }

    .intro-text{
        font-size: large;
    }
    .div-image{
        width: 100%;
    }
    .div-text{
        width: 100%; 
    }
    .WatsBtn{
        font-size: 50px;
        
    }
}