.Languages{
    display: flex;
    padding: 0 100px;
    margin-top: 30px;
    gap: 30px;
    flex-direction: column;
    
}
.first{
    display: flex;
    width: 100%;
    gap: 30px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 3s  linear;
    
    
}
.second{
    display: flex;
    width: 100%;
    gap: 30px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 3s  linear;
    
}
.third{
    display: flex;
    width: 100%;
    gap: 30px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 3s  linear;
    
}
.fourth{
    display: flex;
    width: 100%;
    gap: 30px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 3s  linear;
    
}
.lan-img1, .lan-img2, .lan-img3, .lan-img4, .lan-img5, .lan-img6, .lan-img7, .lan-img8{
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    width: 50%;
   
 
}


.first:hover{
    transform: scale(1.2);

}
.second:hover{
    transform: scale(1.2);

}
.third:hover{
    transform: scale(1.2);

}
.fourth:hover{
    transform: scale(1.2);

}



/* TABLET VIEW */
@media screen and (max-width: 900px){

    .Languages{
        padding: 0 20px;
    }
    
  
}

/* MOBILE VIEW */
@media screen and (max-width: 600px) {
    
    .first, .second, .third, .fourth{
        gap: 20px;
        width: 100%;
        padding: 10px ;
    }

}