.Project-div{
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    
    
}
.Topic{
    font-size: 40px;
    border-radius: 20px;
   background-color: rgb(129, 86, 203);
   padding: 10px 20px;
   margin-top: 25px;
   margin-bottom: 30px;
}

.Topic:hover{
 font-size: 43px;
 color: white;
 cursor: pointer;
 background-color: rgb(228, 119, 119);
}


.first-projects{
    display: flex;
    gap: 30px;
   
}


.second-project{
    display: flex;
    gap: 30px;
}


.bankservices{
    display: block;
    padding: 0 10px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.1);
    margin-bottom: 50px;
    width: 50%;
    height: 50%;

}

.BANK-PHOTO{
width: 100%;
margin-bottom: 20px;
height: fit-content;
cursor: pointer;

}

.BANK-PHOTO:hover{
    width: 102%;
}


.BTN{
    background-color: blue;
    padding: 3px 3px;
    font-size: small;
    cursor: pointer;
    border-radius: 12px;
    
}

.BTN:hover{
    color: rgb(232, 10, 44);

}

.Tech-Stack{
    margin-bottom: 10px;
    color: rgb(124, 114, 240);
}


.CBT{
    display: block;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.1);
    margin-bottom: 50px;
    padding: 5px 10px;
    width: 50%;
    height: 50%;
    
}

.CBTPIX{
 margin-bottom: 20px;
 width: 45%;
 cursor: pointer;

}

.CBTPIX:hover{
    width: 47%;
}


.shopcarts{
    display: block;
    margin-bottom: 50px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.1);
    padding: 0 10px;
    width: 50%;

}

.E-MARTPIX{
  width: 100%;
 margin-bottom: 20px;
 cursor: pointer;
}

.E-MARTPIX:hover{
    width: 102%;
}

.logistics{
    display: block;
    margin-bottom: 50px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.1);
    padding: 0 10px;
    width: 50%;
}

.logisticsPIX {
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
}

.logisticsPIX:hover{
    width: 102%
}

/* TABLET MODE */
@media screen and (max-width: 900px) {

    .Project-div{
        padding: 0 5px;
     }

     .Topic{
        font-size: x-large;
    }

    .Topic:hover{
        font-size: xx-large;
    }
}


/* MOBILE VIEW */
@media screen and (max-width: 600px) {

    .Project-div{
       padding: 0 5px;
    }

    .Topic{
        font-size: large;
    }
    .Topic:hover{
        font-size: x-large;
    }
    
}