.write{
    display: block;
    background-color: antiquewhite;
    padding: 30px 0px;
    margin-bottom: 10px;
    
    }

    .skills{
        justify-content: center;
        align-items: center;
        text-align: center;
        padding:  0 100px;
        
        }

        


        /* TABLET VIEW */
        @media screen and  (max-width: 900px){

            .skills{
                padding: 0 50px;
            }


        }






        /* MOBILE VIEW */

        @media screen and  (max-width: 600px){
            
            .skills{
                padding: 0 35px;
            }



        }